# dependencies
node_modules/

# Playwright artifacts
playwright-report/
test-results/
blob-report/
results.xml

# Allure artifacts
allure-results/
allure-report/

# environment
.env
.env.local

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log